. filter=lfs diff=lfs merge=lfs -text
merged_logs.jsonl filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/anonymized_grades.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/anonymized_student_data.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/valid_anonymized_identifiers.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/attempts/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/images/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/sessions/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/auth_keys/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/messages/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/quizSubmissions/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/sessions/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/images/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/quizSubmissions/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/reports/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/users/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/_tables/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/auth_keys/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/groupAssignments/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/reports/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/exercises/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/groupAssignments/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/logs/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/logs/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/messages/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/weeks/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/weeks/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/exercises/generated_schema.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/attempts/documents.jsonl filter=lfs diff=lfs merge=lfs -text
DB_CS250_Snapshot/users/documents.jsonl filter=lfs diff=lfs merge=lfs -text
